################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Procedimientos/.vs/Procedimientos/v16/Server/sqlite3
